In [10]:
import pandas as pd

In [11]:
df = pd.read_csv(r"C:\Users\bhara\Downloads\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [12]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [13]:
x= df.drop('Survived',axis='columns')
y= df.Survived

In [14]:
dummies = pd.get_dummies(x.Sex)
dummies.head(3)

   female   male
0   False   True
1    True  False
2    True  False

In [15]:
x = pd.concat([x,dummies],axis='columns')
x.head(3)

   Pclass     Sex   Age     Fare  female   male
0       3    male  22.0   7.2500   False   True
1       1  female  38.0  71.2833    True  False
2       3  female  26.0   7.9250    True  False

In [16]:
x.drop(['Sex','male'],axis='columns',inplace=True)
x.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True

In [19]:
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [20]:
x.Age[:15]

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
Name: Age, dtype: float64

In [21]:
x.Age = x.Age.fillna(x.Age.mean())
x.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500   False
1       1  38.0  71.2833    True
2       3  26.0   7.9250    True
3       1  35.0  53.1000    True
4       3  35.0   8.0500   False

In [23]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [24]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [25]:
model.fit(X_train,y_train)

GaussianNB()

In [26]:
model.score(X_test,y_test)

0.770949720670391

In [27]:
model.predict(X_test[10:20])

array([0, 0, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [28]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.78321678, 0.8041958 , 0.77464789, 0.8028169 , 0.73239437])